.container
  .jumbotron
    h1 TharnVision
    p Welcome to TharnVision! lorem ipsum bacon ipsum cupcake ipsum 

  .row
    .col-md-6
      div(ng-include="'/partials/featured-courses'")
    .col-md-6
      div(ng-include="'/partials/new-courses'")